{% extends 'base.html.twig' %}

{% block title %}CarNow{% endblock %}

{% block body %}

    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Example headline.</h1>
                            <p>Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row d-flex justify-content-around ">
                <div class="col-lg-4  card" style="width: 18rem;" >
                    <a class="text-decoration-none text-muted" href="{{ path('car_index')  }}">
                    <img src="{{ asset('img/imgHome/4x4.png') }}" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title">4x4</h5>
                        <p class="card-text">Some quick example text to build on the card title</p>
                    </div>
                    </a>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 card " style="width: 18rem;" >
                    <a class="text-decoration-none text-muted" href="{{ path('car_index') }}" >
                        <img src="{{ asset('img/imgHome/citadine.png') }}" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">4x4</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>
                        </div>
                    </a>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 card " style="width: 18rem;" >
                    <a class="text-decoration-none text-muted" href="{{ path('car_index') }}" >
                        <img src="{{ asset('img/imgHome/boxer.png') }}" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">4x4</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>
                        </div>
                    </a>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 card " style="width: 18rem;" >
                    <a class="text-decoration-none text-muted" href="{{ path('car_index') }}" >
                        <img src="{{ asset('img/imgHome/monospace.png') }}" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">4x4</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>
                        </div>
                    </a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Préparez vos week-ends <span class="text-muted">en toute Sérénité </span></h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
                    <a href="#" class="btn btn-outline-dark px-5">Comment ça fonctionne</a>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div>
                        <img src="{{ asset('img/imgHome/week.png') }}" alt="week">
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette d-flex justify-content-between ">
                <div class="col-md-7 order-md-2 ">
                    <h2 class="featurette-heading fw-normal lh-1" >Rentabilisez votre véhicule <span class="text-muted">en quelques clics !</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                    {% if app.user %}
                    <a class="btn btn-outline-dark px-5" href="{{ path('car_new', {'idUser': app.user.id}) }}">Louer ma voiture</a>
                    {% else %}
                    <a class="btn btn-outline-dark px-5" href="{{ path('login') }}">Louer ma voiture</a>
                    {% endif %}
                </div>
                <div class="col-sm-6 col-md-5 order-md-1 col-lg-4 mb-4">
                    <div>
                        <img src="{{ asset('img/imgHome/rentable.png') }}" alt="week">
                    </div>
                </div>
            </div>



            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


    </main>
{% endblock %}
