{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}

{% block body %}
    <h1>Equipment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipment.id }}</td>
            </tr>
            <tr>
                <th>NameEquipment</th>
                <td>{{ equipment.nameEquipment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipment_index') }}">back to list</a>

    <a href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">edit</a>

    {{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
