{{ form_start(form, {attr: {class: 'filter'}}) }}
{{ form_row(form.city) }}

{{ form_row(form.q) }}

<h5>Catégories</h5>
{{ form_row(form.categories) }}

<h5>Prix</h5>
<div class="row">
    {{ form_row(form.min) }}
    {{ form_row(form.max) }}
</div>

<button type="submit" class="btn btn-outline-dark w-100 ">Filter</button>

{{ form_end(form) }}