{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name }} {{ app.user.firstname }}{% endblock %}

{% block body %}
    <div class="card text-white bg-dark mb-3 mt-5" style="max-width: 20rem;">
        <div class="card-header">Mes informations</div>
        <div class="card-body">
            <h4 class="card-title">{{ app.user.name }} {{ app.user.firstname }}</h4>
            <p class="card-text">Emai {{ app.user.email }}</p>
            <a href="#" class="btn btn-outline-success">Modifier le profil</a>
            <a href="#" class="btn btn-outline-success">Modifier le mot de passe</a>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 mt-5" style="max-width: 20rem;">
        <div class="card-header">Annonce de {{ app.user.firstname }} {{ app.user.name }}</div>
        <div class="card-body">
            <p class="card-text">TO DO</p>
    </div>
{% endblock %}
