{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
{#        <tr>#}
{#            <th>Id</th>#}
{#            <td>{{ user.id }}</td>#}
{#        </tr>#}
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
{#        <tr>#}
{#            <th>Roles</th>#}
{#            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>Password</th>#}
{#            <td>{{ user.password }}</td>#}
{#        </tr>#}
        <tr>
            <th>Nom</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Numéro</th>
            <td>{{ user.phonenumber }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ user.country }}</td>
        </tr>
        <tr>
            <th>Code Postal</th>
            <td>{{ user.zipcode }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ user.city }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ user.address }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ user.dateofbirth ? user.dateofbirth|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date d'inscription</th>
            <td>{{ user.createdat ? user.createdat|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Utilisateur vérifié</th>
            <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>
    <div class="col mb-3">
        {#        <a class="btn btn-outline-success" href="{{ path('app_user_index') }}">Retour à la liste</a> #}

        <a class="btn btn-outline-success" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
        <a class="btn btn-outline-danger" href="{{ path('app_forgot_password_request') }}">Modifier mot de passe</a>

        <a class="btn btn-outline-danger mt-2">{{ include('user/_delete_form.html.twig') }}</a>
    </div>


    <h1>Mes annonces ({{ app.user.cars|length }})</h1>
    <div class="row p-3 my-3 border">
        {% for car in user.cars %}

            <div class="card col" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Modele: {{ car.brand }} <span>{{ car.model }}</span></h5>
                    <h6 class="card-title">Prix: {{ car.dailyprice }}€</h6>
                    <a class="btn btn-outline-success" href="{{ path('car_show', {'id': car.id}) }}">Voir</a>
                </div>
            </div>

        {% endfor %}
    </div>

    {#    <h1>Mes locations ({{ app.user.rentings|length }})</h1> #}
    {#    <div class="row p-3 my-3 border"> #}

    {#        {% for renting in user.rentings %} #}

    {#            <div class="card col" style="width: 18rem;"> #}
    {#                <div class="card-body"> #}
    {#                    <h5 class="card-title">Montant: {{ renting.amout }}€ <span></span></h5> #}
    {#                    <h6 class="card-title">Du: {{ renting.start.format('d-m-Y')}} Au: {{ renting.end.format('d-m-Y')}}</h6> #}
    {#                    <h6 class="card-title"> {{ renting.car.id }}</h6> #}
    {#                </div> #}
    {#            </div> #}


    {#        {% endfor %} #}
    {#    </div> #}
{% endblock %}
